<h1>Wait, how do you say that?</h1>
<p>Check out the following street and then call to pronounce it or hear how it's pronounced.</p>

<h3><%= @street.name %></h3>
<button onClick="call()">Call it In!</button><br>
<button onClick="hangup()">End the call</button>

<!-- <script type="text/javascript" src="https://www.twilio.com/blog//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script> -->

<script type="text/javascript"
src="https://static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>

<script>
// works on IE9 and above
document.addEventListener("DOMContentLoaded", function(event) {
  Twilio.Device.setup("<%= @token %>");
});

var connection=null;

function call() {
  connection = Twilio.Device.connect({id: "<%= @street.id %>"});
}

function hangup() {
  connection = Twilio.Device.disconnectAll();
}
</script>